@import url('https://fonts.googleapis.com/css2?family=Red+Rose:wght@700&display=swap');

@mixin font() {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: normal;
}

html {
  @include font();
}

a, a:link, a:visited, a:hover, a:active {
  color: var(--clr-gr-bot);
  text-decoration: none;
}

a {
  box-shadow: 0 -0.1rem 0 0 var(--clr-gr-bot) inset;
  transition: box-shadow 0.2s ease-in-out, color 0.2s ease-in-out;
}

a:hover {
  color: var(--clr-gr-top);
  box-shadow: 0 -2rem 0 0 var(--clr-gr-bot) inset;
}

a:active {
  color: var(--clr-primary);
  transition: color 0s;
}
